<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <h2>
      Here is some info:
      </h2>
    <p>
    This page does not exist.
    <p>
      <h2>
	Error Code:
      </h2>
      <p>
      404: Page Does Not Exist 
      <p>
    <a href="/">Back to main</a>
  </body>
</html>